<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/53a8c415f1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/login.css">
</head>
<body>
  <form id="join-form" action="/auth/join" method="post">
        <div class="wrap">
            <div class="login">
                <h2>회원가입</h2>
                <div class="login_sns">
                
                </div>
                <div class="login_id">
                    <h4>이메일</h4>
                    <input id="join-email" type="email" name="email">
                </div>
                <div class="login_id">
                  <h4>닉네임</h4>
                  <input id="join-nick" type="text" name="nick">
              </div>
                <div class="login_pw">
                    <h4>비밀번호</h4>
                    <input id="join-password" type="password" name="password">
                </div>
                <div class="login_etc">
                    
                </div>
                <div class="submit">
                  <button id="join-btn" type="submit" class="btn">회원가입</button>
                </div>
            </div>
        </div>
    </form>

    <script>
      window.onload = () => {
        if (new URL(location.href).searchParams.get('error')) {
          alert('이미 존재하는 이메일입니다.');
        }
      };
    </script>


</body>
</html>




